<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="forms">
        <form id="form1" action="{% url "themtu" %}" method="post">
            {%csrf_token%}
            <div class="package">
                <label for="">Từ vựng</label>
                <input type="text" name = "word0" required>
                <label for="">Nghĩa</label>
                <input type="text" name="mean0" required >
            </div>
            <input id="phancach" name='number' hidden value="1">
            
            <select name="lesson" id="">
                {% for lesson in lessons %}
                    <option value="{{lesson.lesson_name}}">{{lesson.lesson_name}}</option>
                {% endfor %}
            </select>
            <br>
            <button type="button" onclick="themForm()" class="them_form">Thêm từ</button>
            <button type="button" onclick="botForm()" class="them_form">Bớt từ</button>
            <br>
            <button class="submit_form" type="submit">Submit</button>
        </form>
        
    </div>

    <script>
        var number = 1;
        function themForm(){
            var textForm = '<div class="package"><label for="">Từ vựng</label><input required type="text" name = "word'+number+'"><label for=""> Nghĩa  </label><input required type="text" name="mean'+number+'"></div>';
            number+=1;
            var newform = document.getElementById("phancach");
            newform.value = number;
            newform.insertAdjacentHTML("beforebegin",textForm);
        }
        function botForm(){
            var word = document.getElementsByClassName("package");
            
            word[word.length-1].remove()
            number-+1;
        }
    </script>
</body>
</html>