<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="forms">
        <form id="form1" action="{% url "themtu" %}" method="post">
            {%csrf_token%}
            <div class="package">
                <label for="">Từ vựng</label><input type="text" name = "word0" required>
                <label for="">Nghĩa</label><input type="text" name="mean0" required >
                <label for="">Ghi chú</label><input type="text" name="note0" >
                <label for="">Quan trọng</label><input type="checkbox" name="vital0" >
            </div>
            <input id="phancach" name='number' hidden value="1">
            
            <select name="lesson" id="">
                {% for lesson in lessons %}
                    <option value="{{lesson.lesson_name}}">{{lesson.lesson_name}}</option>
                {% endfor %}
            </select>
            <br>
            <button type="button" onclick="themForm()" class="them_form">Thêm 5 từ</button>
            <button type="button" onclick="botForm()" class="them_form">Bớt từ</button>
            <br>
            <button class="submit_form"  type="submit">Submit</button>
        </form>
        
    </div>

    <script>
        var number = 1;
        function themForm(){
            for(i=0;i<5;i++){
                var textForm = `<div class="package">
                    <label style="margin:2px;" for="">Từ vựng</label><input required type="text" name = "word${number}">
                    <label style="margin:2px;" for=""> Nghĩa</label><input required type="text" name="mean${number}">
                    <label style="margin:2px;" for="">Ghi chú</label><input type="text" name="note${number}" >
                    <label style="margin:2px;" for="">Quan trọng</label><input type="checkbox" name="vital${number}" >
                </div>`
                number+=1;
                var newform = document.getElementById("phancach");
                    newform.insertAdjacentHTML("beforebegin",textForm);
            }
            newform.value = number;
        }
        function botForm(){
            var word = document.getElementsByClassName("package");
            word[word.length-1].remove()
            number-=1;
            var newform = document.getElementById("phancach");
            newform.value = number;
        }
    </script>
</body>
</html>