{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
  <form action="{% url 'quiz' %}" method="POST">
    {%csrf_token%}
    <label for="">Từ vựng</label>
    {{form.word}} <br>
    <label for="">Nghĩa  </label>
    {{form.answer}} <br>
    <label for="">Bài    </label>
    {{form.lesson}}
    
    <button type="submit">Submit</button>
  </form>

    
</body>
</html>