<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <style>
            table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 50%;
            }

            td,
            th {
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
            }

            tr:nth-child(even) {
                  background-color: #dddddd;
            }
      </style>
</head>

<body>
    <input type="text" id="search" placeholder="search">
      <table id="div">

      </table>
      <script src="https://code.responsivevoice.org/responsivevoice.js?key=bunReqJJ"></script>
      <script>
            var data = []
            var xhttp = new XMLHttpRequest();
            var div = document.querySelector('#div')

            var search = document.querySelector('#search')

            //get json voca
            xhttp.onreadystatechange = function () {
                  if (this.readyState == 4 && this.status == 200) {
                        console.log("connect ajax success!");
                        var myObj = JSON.parse(this.responseText);
                        var myQui = JSON.parse(myObj.quizzizs);
                        var myJSON = JSON.stringify(myQui, undefined, 4);
                        data = JSON.parse(myJSON)
                        console.log(myJSON)
                        var list = []
                        var mean = []
                        data.forEach(element => {

                            element.fields.word = element.fields.word.toLowerCase()
                            

                            let tr = document.createElement('tr')
                            let td1 = document.createElement('td')
                            let td2 = document.createElement('td')
                            let td3 = document.createElement('td')

                              let w = element.fields.word
                              let a = element.fields.answer
                              let l = element.fields.lesson

                              td1.setAttribute('onclick',`responsiveVoice.speak('${w}', "UK English Female", {rate: 1})`)
                              td1.textContent = w
                              td2.textContent = a
                              td3.textContent = l

                              div.appendChild(tr)
                              tr.appendChild(td1)
                              tr.appendChild(td2)
                              tr.appendChild(td3)
                        });

                  }
            };
            xhttp.open("GET", "full/", true);
            xhttp.send();

            //display voca
            search.addEventListener('input', (e)=>{
                search.value = search.value.toLowerCase()
                div.innerHTML = ''

                data.forEach((word)=>{
                    if(word.fields.word.search(search.value) != -1){
                        let tr = document.createElement('tr')
                              let td1 = document.createElement('td')
                              let td2 = document.createElement('td')
                              let td3 = document.createElement('td')

                              let w = word.fields.word
                              let a = word.fields.answer
                              let l = word.fields.lesson

                              td1.textContent = w
                              td2.textContent = a
                              td3.textContent = l

                              div.appendChild(tr)
                              tr.appendChild(td1)
                              tr.appendChild(td2)
                              tr.appendChild(td3)
                    }
                })
                
        })


      </script>
</body>

</html>