{% for quiz in quizs %}
{{quiz.word}}
{{quiz.status}}<br>
{% endfor %}
word0	
'related'
mean0	
'liên quan đến'
note0	
'adj'
word1	
'relevant'
mean1	
'liên quan đến'
note1	
'adj'
word2	
'obtain'
mean2	
'có được, lấy được'
note2	
'v'
word3	
'gain'
mean3	
'có được, lấy được'
note3	
'v'
word4	
'acquire'
mean4	
'có được, lấy được, mua'
note4	
'v'
word5	
'secure'
mean5	
'có được, lấy được'
note5	
'v'
word6	
'reach'
mean6	
'đạt được, giành được'
note6	
'v'
word7	
'achieve'
mean7	
'đạt được, giành được'
note7	
'v'
word8	
'accomplish'
mean8	
'đạt được, giành được'
note8	
'v'
word9	
'attain'
mean9	
'đạt được, giành được'
note9	
'v'
number	
'16'