{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div class="container-fluid row">
        <div class="col-sm-2" id="nav-bar">
            <nav class="navbar menu">
                <ul class="navbar-nav">
                    <h3><a href="{% url 'index' %}">GT<span class="extension"> GENYTEAM</span><a></h3>
                    <hr width="80%" size="10px" color="antiquewhite" align="center" />
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span class="extension">Đọc điền nghĩa</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nghedientu' %}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span class="extension">Nghe điền từ</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nghediennghia' %}">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <span class="extension">Nghe điền nghĩa</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'randomword' %}">
                            <i class="fa fa-random" aria-hidden="true"></i>
                            <span class="extension">Random từ</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'xemtutheobai' %}">
                            <i class="fa fa-leanpub" aria-hidden="true"></i>
                            <span class="extension">Xem từ theo bài</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'findallword' %}">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span class="extension">Tìm từ</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'themtu' %}">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                            <span class="extension"> Thêm Từ</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'thembaihoc' %}">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span class="extension"> Thêm bài học</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-sm-8" >
            <head class="navbar">
                <ul class="navbar mr-auto bg-light settings">
                    <li class="nav-item">
                        <div id="icon-nar-bar" class='rounded-circle bg-primary' style="width: 30px;height: 30px;">
                            <i class="fa fa-ellipsis-v " style="margin: 8px 0 0 14px;color: white;" aria-hidden="true"></i>
                        </div>
                    </li>
                    <li>
                        <h4>
                            {% block title %}{% endblock title %}
                        </h4>
                    </li>
                    <li class="nav-item">
                        <div id="icon-nar-bar" class='rounded-circle ' style="width: 30px;height: 30px;">
                            <div class="dropdown">
                                <i class="fa fa-cog dropdown-toggle" data-toggle="dropdown" style="margin: 8px 0 0 9px;color: rgb(110, 110, 110);" aria-hidden="true"></i>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> My account
                                  </a>
                                  <a class="dropdown-item" href="#">
                                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                    FAQ
                                  </a>
                                  <a class="dropdown-item" href="#">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    Follow me
                                  </a>
                                  
                                </div>
                              </div>
                        </div>
                    </li>
                </ul>
                
            </head>
            
            <div class="jumbotron form-content">
                {% block content %}
                <!-- <form class="text-center" action="" method="POST">
                    <div class="form-content">
                        <p> Đây là gì?</p>
                        <p> Đây là gì?</p>
                    </div>
                    <div class="row justify-content-center d-flex" id="message"></div>
                    <div class="row">
                        <span class="col-sm-5"></span>
                        <input class="form-control form-control col-sm-2" type="text" id="answer" required><br />
                        <span class="col-sm-5"></span>
                    </div>
                    <br />
                    <input class="btn btn-primary" id="submit" type="submit" value="Submit">
                </form> -->
                {% endblock content %}
            </div>
        </div>


        <div class="col-sm-2 fast-word">
            {% block table %}
            <!-- <table class="table table-striped ">
                <thead>
                  <tr>
                    <th>Word</th>
                    <th>Mean</th>
                    <th>Note</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Hello world</td>
                    <td>chào thế giới</td>
                    <td>n, v</td>
                  </tr>
                </tbody>
            </table> -->
            {% endblock table %}
        </div>
    </div>

    <footer class="navbar fixed-bottom bg-light row">
        <ul class="col-sm-8 list-group list-group-horizontal justify-content-center">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Reviews</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Geny Team Community</a>
            </li>
        </ul>
        <div class="col-sm-4 text-center">
            © 2021 Efert & Geny Team
        </div>
    </footer>
    <script src="{% static 'js/menu.js' %}"></script>
    
    {% block script %}{% endblock script %}
</body>

</html>