{% extends 'core/base.html' %}

{% block head%}
<title>Đọc điền nghĩa</title>
{% endblock head %}

{% block title %}Đọc điền nghĩa{% endblock title %}

{% block content %}
<div class="container">
  <form action="{% url 'xuly' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="kind" value="docdientu">
    <div class="row">
      {% for lesson in lessons %}
      <div class="col-sm-3">
        <input style="width:150px" class="quizis btn btn-info" name="lesson_id" type="submit"
          value="{{lesson.lesson_name}}">
      </div>
      {% endfor %}
    </div>
  </form>
</div>
<br>
<nav aria-label="Page navigation example">
    <ul class="pagination pull-right">

        {% if lessons.has_previous %}
        <li><a href="?page={{ lessons.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% if lessons.number > 3 %}
        <li><a href="?page=1"><i>1</i></a></li>
        {% endif %}

        {% for i in lessons.paginator.page_range %}
        {% if i > lessons.number|add:"-3" %}
            {% if i < lessons.number|add:"3" %}
                {% if lessons.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
        {% endfor %}

        {% if lessons.number < lessons.paginator.num_pages|add:"-3" %}
        <li><a href="?page={{ lessons.paginator.num_pages }}"><i>{{ lessons.paginator.num_pages }}</i></a></li>
        {% endif %}

        {% if lessons.has_next %}
        <li><a href="?page={{ lessons.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}

{% block table %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Word</th>
          <th>Mean</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
      {% for word in rd_words %}
        <tr>
          <td data-toggle="tooltip" title="Click to listen!" id="{{word.id}}" >{{word}}</td>
          <td>{{word.answer}}</td>
          <td>{{word.note}}</td>
        </tr>
        <script>
        $(`#{{word.id}}`).on('click',e=>{
          var audio = new Audio(`/static/mp3/{{word}}.mp3`);
          audio.play();
        })
        </script>
      {% endfor %}
      </tbody>
    </table>
{% endblock table %}