{% extends 'core/base.html' %}

{% block head%}
  <title>Nghe điền nghĩa</title>
{% endblock head %}
{% block title %}Nghe điền nghĩa{% endblock title %}

{% block content %}
  <div class="container">
    <form action="{% url 'xuly' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="kind" value="nghediennghia">
      <div class="row">
        {% for lesson in lessons %}
          <div class="col-sm-3">
            <input style="width:150px" class="quizis btn btn-info" name="lesson_id" type="submit" value="{{lesson.lesson_name}}" >
          </div>
        {% endfor %}
      </div>
    </form>
  </div>

{% endblock content %}

{% block table %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Word</th>
          <th>Mean</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
      {% for word in rd_words %}
        <tr>
          <td>{{word}}</td>
          <td>{{word.answer}}</td>
          <td>{{word.note}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock table %}