{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
  <form action="{% url 'quiz-form'%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.mp3_path}}
    {{form.answer}}
    {{form.lesson}}
   
    <button type="submit">Submit</button>
  </form>

    
</body>
</html>