{% extends 'core/base.html' %}

{% block head%}
  <title>Từ Vựng Ngẫu Nhiên</title>
{% endblock head %}
{% block title %}Từ Vựng Ngẫu Nhiên{% endblock title %}

{% block content %}
    <form action="{% url 'xulyrandomword' %}" method="POST">
      {% csrf_token %}
      <div class="row">
          <div class="col-sm-2">
            <input type="submit" class="quizis btn btn-info" name="so"  value="10" />
            <input type="submit" class="quizis btn btn-info" name="so"  value="20" />
            <input type="submit" class="quizis btn btn-info" name="so"  value="30" />
            <input type="submit" class="quizis btn btn-info" name="so"  value="40" />
            <input type="submit" class="quizis btn btn-info" name="so"  value="50" />
          
          </div>
      </div>
    </form>

{% endblock content %}

{% block table %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Word</th>
          <th>Mean</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
      {% for word in rd_words %}
        <tr>
          <td>{{word}}</td>
          <td>{{word.answer}}</td>
          <td>{{word.note}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock table %}