{% extends 'core/base.html' %}

{% block head %}
  <title>{{title}}</title>
  <style>
    .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
      opacity: 1;
      transition: opacity 0.6s;
      margin-bottom: 15px;
      
    }
    
    .alert.success {background-color: #04AA6D;}
    .alert.info {background-color: #2196F3;}
    .alert.warning {background-color: #ff9800;}
    
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }
  </style>
{% endblock head %}

{% block title %}{{title}}{% endblock title %}


{% block content %}
<form class="text-center" action="" method="POST">
        <div class="form-quiz"></div>
        <div class="row justify-content-center d-flex" id="message"></div>
        <div class="row">
            <span class="col-sm-5"></span>
            <input class="form-control form-control col-sm-2" type="text" id="answer" required><br />
            <span class="col-sm-5"></span>
        </div>
        <br />
        <input class="btn btn-primary" id="submit" type="submit" value="Submit">
    </form>
{% endblock content %}

{% block table %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Word</th>
          <th>Mean</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
      {% for word in rd_words %}
        <tr>
          <td data-toggle="tooltip" title="Click to listen!" id="{{word.id}}" >{{word}}</td>
          <td>{{word.answer}}</td>
          <td>{{word.note}}</td>
        </tr>
        <script>
        $(`#{{word.id}}`).on('click',e=>{
          var audio = new Audio(`/static/mp3/{{word}}.mp3`);
          audio.play();
        })
        </script>
      {% endfor %}
      </tbody>
    </table>
{% endblock table %}

  {% block script %}

  <script>
    // region declare variable 
    const form_content = document.querySelector('.form-quiz')
    const btn_submit = document.querySelector('#submit')
    const ip_answer = document.querySelector('#answer')
    const message = document.querySelector('#message')
    const close = document.getElementsByClassName("closebtn");
    var words = []
    var displayed = []
    var index = -1
    var current_word = ''
    // endregion

    LoadData()
    GetNextWord()

    // region declare variable 
    function LoadData() {
      words = [
        {% for word in words %}
          {
            'word':`{{word.word}}`,
            'ipa':`{{word.ipa}}`,
            'answer':`{{word.answer}}`,
            'lesson':`{{word.lesson}}`,
            'status':`{{word.status}}`,
            'note':`{{word.note}}`,
            'highlight':`{{word.highlight}}`,
          },
        {% endfor %}
      ]
      console.log("Load data successfully!");
    }

    function GetRandomIndex(){
      index = Math.floor(Math.random() * words.length);
      while(displayed.indexOf(index) != -1) {
        index = Math.floor(Math.random() * words.length);
      }
      displayed.push(index)
      current_word = words[index]
    }
    

    function CreateHTMLQuizz(){
      let number = document.createElement('h6')
      form_content.appendChild(number)
      number.textContent = `${displayed.length}/${words.length}`

      let div_source = document.createElement('div')
      let url = document.URL.slice(0,-5)
      let text_html = `<audio id="player" autoplay controls>
                        <source src="${url}static/mp3/${current_word.word}.mp3" type="audio/mp3">
                      </audio>`
      div_source.innerHTML = text_html
      form_content.appendChild(div_source)
    }

    function GetNextWord(){
      if(words.length > displayed.length){
        GetRandomIndex()
        console.log('câu số ', index);
        CreateHTMLQuizz()
      }else{
        alert("finsh!")
        history.back();
      }
    }

    function ClearInput(input){
      input = input.toLowerCase()
      input = input.trim()
      input = input.replace(/\s+/g,' ')
      return input
    }

    function CheckAnswer(){
      let answer = ClearInput(ip_answer.value)
      console.log(answer, answer.search(current_word.answer));
      if(answer != ''){
        if(current_word.word.search(answer) != -1  ){
          message.innerHTML = `
            <div class="alert success">
              <span class="closebtn">&times;</span>  
              <strong>Right!</strong> ${current_word.answer}
              </div>`
          CloseMessage()
          setTimeout(function(){
             $('.closebtn').click() 
             ip_answer.value = ""
             form_content.innerHTML = ''
             GetNextWord()
            }, 2000);
          }else{
            message.innerHTML = `
              <div class="alert info">
                <span class="closebtn">&times;</span>  
                <strong>Wrong!</strong> ${current_word.word}
              </div>`
            CloseMessage()
            setTimeout(function(){
              $('.closebtn').click() 
              ip_answer.value = ""
              form_content.innerHTML = ''
              GetNextWord()
            }, 3000);
        }
      }else{
        message.innerHTML = `
          <div class="alert warning">
            <span class="closebtn">&times;</span>  
            <strong>Warning!</strong> Vui lòng nhập câu trả lời.
          </div>`
        CloseMessage()
        setTimeout(function(){
          $('.closebtn').click() 
        }, 800);
      }
    }

    btn_submit.addEventListener('click',(e)=>{
      e.preventDefault()
      CheckAnswer()
    })
    // endregion
    // Get all elements with class="closebtn"
    function CloseMessage(){
      var i;
    
      // Loop through all close buttons
      for (i = 0; i < close.length; i++) {
        // When someone clicks on a close button
        close[i].onclick = function(){
      
          // Get the parent of <span class="closebtn"> (<div class="alert">)
          var div = this.parentElement;
      
          // Set the opacity of div to 0 (transparent)
          div.style.opacity = "0";
      
          // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
          setTimeout(function(){ div.style.display = "none"; }, 600);
        }
      }
    }


  </script>
  {% endblock script %}

